.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .counter {
    user-select: none;
    position: relative;
    background-color: lightblue;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin-top: 10px;

    & button {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 0;
      cursor: pointer;
      background-color: gray;
      appearance: none;
      outline: none;
      border: none;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: whitesmoke;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
      overflow: hidden;

      /* Ortak Çizgi Yapısı */
      & .minus-span,
      & .plus-span {
        transition: all 0.3s ease-in-out;
        position: relative;
        background-color: whitesmoke;
        width: 25px;
        height: 5px;
        border-radius: 3px;
        display: inline-block;
      }

      /* Artı butonuna dikey çizgiyi ekleyelim */
      & .plus-span::after {
        content: "";
        display: block;
        position: absolute;
        background-color: inherit;
        width: 25px;
        height: 5px;
        border-radius: 3px;
        inset: 0;
        margin: auto;
        transform-origin: center;
        transform: rotate(90deg);
      }

      &:hover .minus-span,
      &:hover .plus-span {
        transform: rotate(360deg);
      }

      /* &:hover .plus-span::after {
        transform: rotate(450deg);
      } */
    }

    & .minus {
      left: 0;
    }

    & .plus {
      right: 0;
    }
  }
}
